*~
*.pyc
*.tsv
*.swp
*.ini
redirect_cache.dat
.project
.pydevproject
*.sqlite
*.html
*.log
*.out
*.swo
*.json
*.db
*.gz
*.dat
*.swn
/uploads/*
uploads/*
.mozilla*
.cache
eth_extension/node_modules
*.map
